.title-bg {
  border-radius: 6px 6px 0px 0px;
  background: linear-gradient(90deg, #7b1700 0%, #9c7066 100%);
}
.title-bg2 {
  border-radius: 6px 6px 0px 0px;
  background: linear-gradient(90deg, #7b1700 0%, #9c7066 100%);
}
