/* Hero section */
.hero__section__markham {
    /* height: auto;
    background-image: url("/assets/poolInstallationCompanyInMarkham/hero-section.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; */
  }
  
  .hero__right__markham {
    width: 50%;
  }
  
  .hero__right__markham .hero-main-image {
    width: 100%;
    object-fit: cover;
  }
  
  .hero_btn {
    background: #9C7066;
  }

  /* .small_device_bg {
    height: auto;
    background-image: url("/homePage/hero_bg.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  } */
  
  @media (max-width: 768px) {
    .small_device_bg {
      height: auto;
      background-image: url("/homePage/hero_bg.png"); /* Keep the background image */
      background-position: center center; /* Center the image */
      background-size: cover; /* Cover the entire area */
      background-repeat: no-repeat; /* Prevent image repeat */
    }

  }
  